# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [5]:
#1
tple=tuple(x for x in range(1,11))
print(tple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [16]:
#2
tple=(1,2,3,4,5,6,7,8,9,10)
t=len(tple)
print(tple[0])
print(tple[t//2])
print(tple[-1])

1
6
10

In [26]:
#3
tple=(1,2,3,4,5,6,7,8,9,10)
print(tple[:3])
print(tple[-3:])
print(tple[2:5])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5)

In [ ]:
#4
matrix=((1,2,3),
        (4,5,6),
        (7,8,9))
for row in matrix:
    print(row)

for i,row in enumerate(matrix):   
    if i==1:
        for x in row:
            if x==6:
                print(x)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
6

In [32]:
#5
t1=(1,2,3)
t2=(4,5,6)
t3=t1+t2
print(t3)

(1, 2, 3, 4, 5, 6)

In [47]:
#6
tple=(4,7,8,4,2,6,7,5,3,2,4,6)
t=[]
y={}
for x in tple:
    if x not in y:
        y[x]={"index":tple.index(x),"occurence":tple.count(x)}

print(y)

{4: {'index': 0, 'occurence': 3}, 7: {'index': 1, 'occurence': 2}, 8: {'index': 2, 'occurence': 1}, 2: {'index': 4, 'occurence': 2}, 6: {'index': 5, 'occurence': 2}, 5: {'index': 7, 'occurence': 1}, 3: {'index': 8, 'occurence': 1}}

In [48]:
#7
tple=(1,2,3,4,5)
a,b,c,d,e=tple
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
4
5

In [49]:
#8
lst=[1,2,3,4,5]
print(tuple(lst))

(1, 2, 3, 4, 5)

In [50]:
#9
tple=((1,2,3),(4,5,6),(7,8,9))
for x in tple:
    print(x)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

In [51]:
#10
tple=(1,2,3,4,5)
lst=list(tple)
lst.append(6)
print(tuple(lst))

(1, 2, 3, 4, 5, 6)

In [54]:
#11
tple=("h","e","l","l","o","o")
s=""
for x in tple:
    s+=x
print(s)

helloo

In [56]:
#12
dic={("one"):1,("two"):2,("three"):3}
print(dic)

{'one': 1, 'two': 2, 'three': 3}

In [61]:
#13
tple=((1,2,3),(4,5,6),(7,8,9))
for x in tple:
    for y in x:
        print(y)

1
2
3
4
5
6
7
8
9

In [59]:
#14
tple=(4,7,8,4,2,6,7,5,3,2,4,6)
print(set(tple))

{2, 3, 4, 5, 6, 7, 8}

In [63]:
#15
tple=(2,6,8,3,5,9,4,1)
print(max(tple))
print(min(tple))
print(sum(tple))

9
1
38